APP_DEBUG=true
APP_TIMEZONE=Europe/Paris
APP_URL=http://127.0.0.1:8891
MENU_BASE_URL=https://menuqrcode.tn/

DB_HOST=127.0.0.1
DB_NAME=menuqr
DB_USER=root
DB_PASS=

JWT_SECRET=change-me-to-a-long-random-string
JWT_ACCESS_TTL=3600
JWT_REFRESH_TTL=2592000
